html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }

.bar {
    fill: steelblue;
}

.bar.order.short.high,
.bar.order.long.low,
.bar.position.short.high,
.bar.position.long.low {
    fill: orange;
}

.bar.rate {
    fill: green;
}

.bar:hover {
    fill: brown !important;
}
.axis { font: 10px sans-serif; }
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path { display: none; }

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    background: #ddd;
    border: solid 1px #aaa;
    border-radius: 8px;
    pointer-events: none;
}

div.tooltip th, td {
    font: 12px sans-serif;
    margin: 0px;
}

.current-rate.tooltip.rect {
    fill: green;
    stroke: green;
    stroke-width: 0;
}

.current-rate.tooltip.text {
    font-size: 10px;
    font-family: sans-serif;
    fill: #FFF;
}

.grid .tick line {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
    stroke-width: 0;
}
